form {
  border: solid thin black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px;
  width: 450px;
}
div {
  gap: 8px;
  height: 25vw;

  /* vw */
  width: 100vw;
}

.button {
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 8px;
  padding: 8px;
}
.button--reset {
  background-color: brown;
}
.flex {
  display: flex;
}
.flex-align-center {
}
.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
